@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  background-color: #E5381D;  ;
  height: 80px;
  padding-left: 61px;
  padding-right: 61px;
  padding-top: 30px;
  padding-bottom: 30px;
}

main {
  background-color: #ffffff;
  color: #000000;
}
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light ) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: 
  /* linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    ) */
    rgb(var(--background-end-rgb));
}

@media (min-width: 640px) {
  button {
    font-size: 1.2rem; /* Adjust the font size for small screens */
  }
}

@media (min-width: 768px) {
  button {
    font-size: 1.5rem; /* Adjust the font size for medium screens */
  }
}

@media (min-width: 1024px) {
  button {
    font-size: 2rem; /* Adjust the font size for large screens */
  }
}

.navbar {
  z-index: 1000;
  width: 100%;
  height: 80px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-button {
  color: white;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  margin-right: 24px;
  margin-left: 24px;
  min-width: max-content;
  background-color: transparent;
  color: #ffffff;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.nav-button:hover{
  transform: scale(1.1); /* Adjust the scale factor */
  transition: transform 0.3s ease-in-out;
}

.nav-button:active {
  opacity: 0.8;
}

.review-kantin {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 23px;
  min-width: max-content;
  margin-right: 96px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
}

.review-text {
  color: rgba(248, 85, 59, 1);
  font-size: 4.4vw;
  font-weight: 700;
  line-height: 5.5vw;
  letter-spacing: 0em;
  text-align: left;
  align-self: flex-end;
}

.kantin-text{
  color: rgba(229, 56, 29, 1);
  font-size: 4.4vw;
  font-weight: 700;
  max-height: fit-content;
  letter-spacing: 0em;
  text-align: left;
  align-self: flex-start;
}

.footer-container {
  position: relative;
  align-self: flex-end;
  width: 100%;
  height: 100%;
}

.footer {
  row-gap: 0.6vw;
}

.footer-button {
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 1.7vw;
  font-weight: 700;
  line-height: 4.2vw;
  letter-spacing: 0em;
  text-align: left;
}

.footer-content {
  position: absolute;
  top: 48%;
  left: 52%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.footer-nav {
  position: absolute;
  top: 59%;
  left: 79%;
  transform: translate(-50%, -50%);
  text-align: center; /* Adjust text alignment as needed */
  color: black; /* Adjust text color */
}

.footer-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire container */
}