
.content {
  padding-top: 140px;
  margin-left: 5.55vw;
  margin-right: 5.55vw;
}

.explore-text{
  font-size: 4.4vw;
  font-weight: 700;
  line-height: 6.6vw;
  letter-spacing: 0em;
  text-align: left;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
  margin-bottom: 4.167vw;
}

.grids {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 3.3vw;
  column-gap: 1.6vw;
  margin-top: 4.167vw;
  padding-left: 5.5vw;
  padding-right: 5.5vw;
  height: 40vw;
  justify-content: center;
}

.pad {
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.color1 {
  background-color: rgba(255, 115, 93, 1);
}

.color2 {
  background-color: rgba(229, 56, 29, 1);
}

.color3 {
  background: rgba(248, 85, 59, 1);
}

.bubble {
  color: white;
  font-size: 2.2vw;
  font-weight: 700;
  line-height: 1.7vw;
  letter-spacing: 0em;
  justify-items: center;

  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  /* margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px; */

  border: 0.138vw solid transparent; /* Border color */
  border-radius: 2.78vw; /* Border radius for rounded corners */
  outline: none; /* Remove the default outline */

  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  
  transition: background-color 0.4s, transform 0.4s, color 0.3s, border 0.4s;
}

.bubble:hover{
  border-width: 0.12vw;
  border-color: rgba(229, 56, 29, 1);
  transform: scale(1.07); /* Increase size on hover */
  background-color: rgba(255, 255, 255, 0.8);
  color: #E5381D;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.bubble:active {
  transform: scale(1.09); /* Maintain size on click */
  color: rgba(229, 56, 29, 0.5); /* Darker text on click */
}

.bubble-review {
  padding-top: 140px;
  margin-bottom: 4.1vw;
}

.kantin-with {
  font-size: 2.8vw;
  font-weight: 600;
  line-height: 2.8vw;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 1.38vw;
}

.kantin-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 1.38vw;
}

.kantin-container {
  padding-left: 5.5vw;
  padding-right: 5.5vw;
  padding-top: 4.4vw;
  padding-bottom: 4.4vw;
  height: 25vw;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);;
  transition: transform 0.3s, box-shadow 0.3s;
}

.kantin-container:hover {
  transform: scale(1.12);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.location-logo {
  width: 2.2vw;
  height: 2.7vw;
}

.nama-kantin {
  color: #ffffff;
  font-size: 1.6vw;
  font-weight: 600;
  line-height: 1.6vw;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 0.84vw;
  align-self: center;
}

.nama-makanan {
  color: white;
  font-size: 3.3vw;
  font-weight: 600;
  line-height: 6.6vw;
  letter-spacing: 0em;
  text-align: left;
}

.desc {
  color: white;
font-size: 1.1vw;
font-weight: 600;
line-height: 2.2vw;
letter-spacing: 0em;
text-align: left;
}

.review-container {
  padding-left: 5.5vw;
  padding-right: 5.5vw;
}

.backtomap{
  background-color: rgba(255, 115, 93, 1);
  width: 19.44vw;
  height: 3.33vw;
  top: 16.04vw;
  left: 6.67vw;
  border-radius: 69.375vw;
}

.backtomap-text {
  color: #ffffff;
  font-size: 1.67vw;
  font-weight: 600;
  line-height: 1.67vw;
  letter-spacing: 0em;
  text-align: center;
}

.arrow {
  color: white;
  width: 5vw;
  font-weight: 600;
  line-height: 1.67vw;
  background-color: transparent;
  text-shadow: 0 0 0.1389vw rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.arrow:hover{
  transform: scale(1.1); /* Adjust the scale factor */
  transition: transform 0.3s ease-in-out;
}

.arrow:active {
  opacity: 0.8;
}

.sliding-image {
  display: flex;
  justify-content: center;
  margin-top: 6.25vw;
  margin-bottom: 6.25vw;
}

.reviews-title {
  font-size: 2.22vw;
  font-weight: 700;
  line-height: 6.67vw;
  letter-spacing: 0em;
  text-align: left;
}

.reviews-grids {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
}








.role {
  color: #ffffff;
  font-size: 1.389vw;
  font-weight: 600;
  line-height: 1.67vw;
  letter-spacing: 0em;
  text-align: center;
  background-color: rgba(255, 115, 93, 1);
  height: 2.778vw;
  border-radius: 69.375vw;
}

.pps-ui {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-row: 1fr 1f 1fr;
  column-gap: 2.778vw;
  row-gap: 1vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.pps-se {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2.778vw;
  row-gap: 2.778vw;
}

.pp{
  width: 14.72vw;
  justify-self: center;
  align-self: center;
}

.name {
  color: black;
  font-size: 1.389vw;
  font-weight: 600;
  line-height: 2.22vw;
  letter-spacing: 0em;
  text-align: center;
}

.profile {
  font-size: 1vw;
  align-items: center;
  justify-content: center;
  text-align: center;
}